body, html {
    overflow-x: hidden !important;
}

body {
    background-color: white;
}

.logo-grupo-boticario {
    top: 25px;
    position: fixed;
    width: 10%;
    margin-left: 4%;
}

.lista-nav-lista {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40px;
}

.lista-nav {
    display: inline-block;
    letter-spacing: 0.1em;
    margin-right: 20px;
}

.itens-nav {
    font: bold 20px 'Magnat', sans-serif;
    text-transform: uppercase;
    color: #fff; 
    text-decoration: none;
}

.itens-nav:hover{
    color: rgb(214, 104, 14);
    transition: 0.3s all;
}

#banner-home {
    width: 100vw;
    height: 45vw;
    
}

#menu{
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: transparent;
}

/* textos */

.subtitulo{
    color: rgba(58, 58, 58);
    margin: 3rem 0rem 1rem 0rem;
    text-align: center;
    font: bold 30px 'Magnat', sans-serif;
    letter-spacing: 0.7px;
}

.subtitulo-sub{
    color: rgba(58, 58, 58);
    text-align: center;
    margin: 3rem 0rem 1rem 0rem;
    font: bold 30px 'Magnat', sans-serif;
    letter-spacing: 0.7px;
}

.paragrafo-texto {
    text-align: justify;
    font: 400 16px 'Roboto', sans-serif;
    color: rgba(58, 58, 58);
    letter-spacing: 0.7px;
    margin: 0rem 0rem;
    padding: 22px;
}


/* footer  */

footer {
    background:  #499D71 url(anforas.png);
    background-repeat: repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.bg {
    height: 30vh;
    width: 100vw;
}

.anfora {
    position: absolute;
    height: 150px;
    width: auto;
}

/* mediaquery */

@media only (min-width: 375px), (max-width: 425px){

    html {
        scroll-snap-type: y mandatory;
    }

    #banner-home{
        height: 55vw;
    }

    .logo-grupo-boticario {
        display: none;
    }

    .lista-nav-lista {
        margin-top: 2rem;
        top: 0px;
    }

    .itens-nav {
        font: bold 1rem 'Roboto', sans-serif;
    }
    
    .lista-nav {
        display: inline;
        margin: 0.5em;
    }

    footer {
        height: 23vh;
    }

    .bg{
        height: 23vh;
        width: auto;
    }
    
    .anfora {
        height: 120px;
    }
        
}